.container-services-page {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .container-center {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
